<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Ingresar</title>
    <link th:href="@{/css/style2.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<header th:replace = "layout/layout :: header"></header>



<div th:if="${param.error}" class="alert alert-danger">
				Usuario o Contrase&#241;a inv&#225;lidos
			</div>
<!--  
<div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${error != null}">
  <span th:text="${error}"></span>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
-->

<div class="div-formulario d-flex flex-column align-items-center justify-content-center">

	<div class="form-sign">
    <form th:action="@{/signin}" method="post" class="form-signin d-flex flex-column align-items-center">
       
		   
		   <label id="label-1">Inicia sesión con tu cuenta</label>
		   		<input type="email" class="form-control" name="Correo" id="Correo" placeholder="Correo" required>
		
       
       <input type="password"  class="form-control mt-3" name="Contraseña" id="Contraseña"  placeholder="Contraseña" required>
       <div class="checkbox mb-3">
       </div>
       <button class="btn btn-lg btn-primary btn-block w-100" type="submit" name="btn-ingresar">Ingresar</button>
              
     </form>
	</div>
</div>

		<footer th:replace = "layout/layout :: footer"></footer>
	
	
</body>
</html>